

body{
    margin: 0;
}
#header{
    background-color: black;
    width: 100%;
    height: 70px;
}
#left-header{
    width: 50%;
    height: 70px;
    background-color:black;
    float: left;
    line-height: 80px;
}
#right-header{
    width: 50%;
    height: 70px;
    background-color: black;
    float: left;
}
.logo-text{
    font-family:UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 35px;
    text-decoration: none;
    padding-left: 200px;
}
.btn-header{
    font-family:UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    background-color: black;
    margin-left: 15px;
    font-size: 16px;
    border-radius:20px;
    padding-top: 10px;
    padding-bottom: 10px;
    transform: translateY(-8px);
    border: none;
    
}
.btn-header:hover{
    transition: 0.5s;
    cursor: pointer;
    color: black;
    background-color: #F6F6F6 ;
}
.btn{
    background-color: black;
    width:80px;
    height: 40px;
    margin-left: 400px;
    border-radius:20px;
    transform: translateY(15px);
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border:none
}
.btn:hover{
    transition: 0.5s;
    cursor: pointer;
    color: black;
    background-color: #F6F6F6 ;
}
.btn1{
    background-color:black;
    width:100px;
    margin-left: 10px;
    height: 40px;
    border-radius:20px;
    transform: translateY(15px);
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border:none
}
.btn1:hover{
    transition: 0.5s;
    cursor: pointer;
    color: black;
    background-color: #F6F6F6 ;
}
.btn2{
    background-color:black;
    width:70px;
    margin-left: 10px;
    height: 40px;
    border-radius:20px;
    transform: translateY(15px);
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border:none;
}
.btn2:hover{
    transition: 0.5s;
    cursor: pointer;
    color: black;
    background-color: #F6F6F6 ;
}
.btn3{
    background-color:white;
    width:100px;
    margin-left: 600px;
    height: 40px;
    border-radius:20px;
    transform: translateY(-33px);
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border:none
}
.btn3:hover{
    transition: 0.5s;
    cursor: pointer;
    color: black;
    background-color: #F6F6F6 ;
}
.fa-globe{
    color:white;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    cursor: pointer;
}
.fa-grid{
    color:white;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    cursor: pointer;
}
.lang-text{
    color: white;
    margin-left: 7px;
    margin-top: 4px;
    float: left;
    cursor: pointer;
}
.sign-up{
    color: black;
    margin-left: 7px;
    margin-top: 4px;
    float: left;
    cursor: pointer;
}
.mainbody1{
    background-color: blue;
    width: 100%;
    height:650px;
    float: left;
} 
.mainbody2{
    width: 100%;
    height:300px;
    float: left;
}
.mainbody3{
    width: 100%;
    height:1000px;
    float: left;
}
.mainbody4{
    width: 100%;
    height:300px;
    background-color: white;
    float: left;
}
.footer{
    width: 100%;
    height: 1200px;
    background-color: black;
    float: left;
}
#image1{
    width: 100%;
    height: 650px;
}
.inner-div{
    width:575px;
    height: 500px;
    background-color:white;
    transform: translateY(-575px);
    margin-left: 270px;
}
.inner-div1{
    width: 575px;
    height: 125px;
    border: solid 0.0001px;
    border-color:#d5caca;
}
.fa-car{
    margin-left: 100px;
    margin-top: 35px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.image2{
    margin-left: 150px;
    margin-top: 35px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.image3{
    margin-left: 150px;
    margin-top: 35px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.para1{
    margin-left: 95px;
    margin-top: 25px;
    cursor: pointer;
}
.para2{
    margin-left: 260px;
    margin-top: 35px;
    cursor: pointer;
    transform: translateY(-60px);
}
.para3{
    margin-left: 440px;
    margin-top: 35px;
    cursor: pointer;
    transform: translateY(-140px);
}
.inner-div2{
    width: 575px;
    height: 375px;
    border: 0.01px;
    border-color: #F6F6F6;
    transform: translateY(-950px);
    margin-left: 270px;
}
.heading1{
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 45px;
    font-weight: 700px;
    line-height: 64px;
    margin-left: 70px;
}
.input1{
    width: 350px;
    height: 50px;
    border: none;
    color: gray;
    font-size: 15px;
    outline: none;
    margin-left: 100px;
    margin-top: 10px;
    padding-left: 20px;
    background-color: #F6F6F6;
}
.req-btn{
    background-color: black;
    color: white;
    width: 150px;
    border-radius: 12px;
    height: 50px;
    margin-top: 20px;
    margin-left:100px ;
    font-size: 15px;
}
.req-btn:hover{
    transition: 0.5s;
    cursor: pointer;
    color: black;
    background-color: #F6F6F6 ;
}
.schedule-btn{
    background-color:#F6F6F6 ;
    color: black;
    border: none;
    outline: none;
    width: 150px;
    border-radius: 12px;
    height: 50px;
    margin-top: 20px;
    margin-left:20px ;
    font-size: 15px;
}
.schedule-btn:hover{
    transition: 0.5s;
    cursor: pointer;
    color: black;
    background-color: grey ;
}
.image4{
    width: 100%;
    height: 300px;
}
.heading2{
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-weight: 700px;
    line-height: 60px;
    margin-left: 70px;
    transform: translateY(-275px);
}.para4{
    font-size: 17px;
    transform: translateY(-280px);
    margin-left: 70px;
}
.req-btn1{
    background-color: black;
    color: white;
    width: 150px;
    border-radius: 12px;
    height: 50px;
    margin-top: 25px;
    margin-left:75px ;
    font-size: 15px;
    transform: translateY(-300px);
}
.req-btn1:hover{
    transition: 0.5s;
    cursor: pointer;
    color: black;
    background-color: #F6F6F6 ;
}
.heading3{
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-weight: 800px;
    line-height: 60px;
    margin-left: 300px;
    transform: translateY(40px);
}
.auto{
    width: 500px;
    height: 300px;
    background-color: white;
    margin-top: 50px;
    margin-left: 300px;
    float: left;
}
.moto{
    width: 500px;
    height: 300px;
    background-color: white;
    margin-top: 50px;
    margin-left: 80px;
    float: left;
}
.car1{
    width: 500px;
    height: 300px;
    background-color: white;
    margin-top: 30px;
    margin-left: 300px;
    float: left;
}
.car2{
    width: 500px;
    height: 300px;
    background-color:white;
    margin-top: 30px;
    margin-left: 80px;
    float: left;
}.img-auto{
    width:150px;
    height: 150px;
    transform: translateY(40px);
    margin-left: 30pxx;
}
.hed-auto{
    margin-left: 200px;
    transform: translateY(10px);
    text-decoration: none;
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 700px;
    line-height: 32px;
    color: black;
    cursor: pointer;
}
.text-auto{
    text-decoration: none;
    color: black;
    margin-left: 200px;
    font-size: 17px;
    margin-top: 100px;
    cursor: pointer;
}
.img-moto{
    width:150px;
    height: 150px;
    transform: translateY(40px);
    margin-left: 30pxx;
}
.hed-moto{
    margin-left: 200px;
    transform: translateY(10px);
    text-decoration: none;
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 700px;
    line-height: 32px;
    color: black;
    cursor: pointer;
}.text-moto{
    text-decoration: none;
    color: black;
    margin-left: 200px;
    font-size: 17px;
    margin-top: 100px;
    cursor: pointer;
}.img-car1{
    width:150px;
    height: 150px;
    transform: translateY(40px);
    margin-left: 30pxx;
}
.hed-car1{
    margin-left: 200px;
    transform: translateY(10px);
    text-decoration: none;
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 700px;
    line-height: 32px;
    color: black;
    cursor: pointer;
}
.text-car1{
    text-decoration: none;
    color: black;
    margin-left: 200px;
    font-size: 17px;
    margin-top: 100px;
    cursor: pointer;
}
.img-car2{
    width:150px;
    height: 150px;
    transform: translateY(40px);
    margin-left: 30pxx;
}
.hed-car2{
    margin-left: 200px;
    transform: translateY(10px);
    text-decoration: none;
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 700px;
    line-height: 32px;
    color: black;
    cursor: pointer;
}
.text-car2{
    text-decoration: none;
    color: black;
    margin-left: 200px;
    font-size: 17px;
    margin-top: 100px;
    cursor: pointer;
}
.icon-1{
    width: 400px;
    height: 300px;
    background-color:white;
    margin-left: 150px;
    float: left;
}
.icon-2{
    width: 400px;
    height: 300px;
    background-color: white;
    margin-left: 50px;
    float: left;
}
.icon-3{
    width: 400px;
    height: 300px;
    background-color: white;
    margin-left: 50px;
    float: left;
}
.about-us{
    width: 30px;
    height: 30px;
}
.icon1-hed{
    font-size: 20px;
}
.icon1-text{
    font-size: 17px;
    margin-top: 10px;
}
.icon1-btn{
    background-color:#F6F6F6 ;
    color: black;
    border: none;
    outline: none;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    font-size: 15px;
}
.icon1-btn:hover{
    transition: 0.5s;
    cursor: pointer;
    color: black;
    border: #d5caca;
    background-color:  #F6F6F6 ;
    border-bottom: 1px solid black;
}
.footer-logo{
    width:800px;
    margin-top: 30px;
    margin-left: 100px;
    height: 200px;
    background-color:black;
    padding-top: 100px;
}
.logo-text2{
    font-family:UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 35px;
    text-decoration: none;
    padding-top: 100px;
}.hlp-btn{
    background-color:black ;
    color: white;
    border: none;
    outline: none;
    width: 145px;
    height: 100px;
    margin-top: 20px;
    font-size: 17px;
    margin-left: 0px;
}
.hlp-btn:hover{
    transition: 0.5s;
    cursor: pointer;
    color:white;
    border: #d5caca;
    background-color:  black ;
    border-bottom: 1px solid white;
}.footer-mid{
    width: 70%;
    height: 470px;
    background-color: black;
    margin-left: 225px;
}
.tbl{
    width: 1000px;
    height: 50px;
}
.tbl-hed{
    font-size: 20px;
    color: white;
}
.tbl-data{
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin-left: 80px;
}
.footer-end{
    width: 1200px;
    height: 300px;
    background-color: black;
    margin-left: 80px;
    margin-top: 20px;
}
.icon-btn{
    width: 60px;
    height: 50px;
    color: white;
    border-radius: 5px;
    background-color: black;
    border: none;
    
}.icon-btn:hover{
    cursor: pointer;
    transition: 0.5;
    background-color:  #F6F6F6 ;
    color: black;
}.icon-btn1{
    width: 50px;
    height: 50px;
    color: white;
    margin-left: 100px;
    border-radius: 5px;
    margin-top: 5px;
    background-color: black;
    border: none;
}.icon-btn1:hover{
    cursor: pointer;
    transition: 0.5;
    background-color:  #F6F6F6 ;
    color: black;
}.lang-btn{
    width: 100px;
    height: 50px;
    color: white;
    margin-left: 200px;
    border-radius: 5px;
    margin-top: 5px;
    background-color: black;
    border: none;
    margin-bottom: 0px;
}.lang-btn:hover{
    cursor: pointer;
    transition: 0.5;
    background-color:  #F6F6F6 ;
    color: black;
}
.loc-btn{
    width: 100px;
    height: 50px;
    color: white;
    margin-left: 1000px;
    border-radius: 5px;
   margin-bottom: 1px;
    background-color: black;
    border: none;
    position: relative;
}.loc-btn:hover{
    cursor: pointer;
    transition: 0.5;
    background-color:  #F6F6F6 ;
    color: black;
}.playstr-img{
    width:150px;
    height: 100px;
    margin-top: 30px;
}
.end-text{
    color: #F6F6F6;
    margin-top: 30px;
}
.end-text1{
    color: #F6F6F6;
    text-decoration: none;
    margin-left: 50px;
    cursor: pointer;
    transform: translateY(-100px);
}
.end-text2{
    color: #F6F6F6;
    text-decoration: none;
    margin-left: 30px;
    cursor: pointer;
    transform: translateY(-100px);
}
.end-text3{
    color: #F6F6F6;
    text-decoration: none;
    margin-left: 30px;
    cursor: pointer;
    transform: translateY(-100px);
}
.end-div1{
    width: 400px;
    height: 70px;
    background-color: black;
    float: left;
}.end-div2{
    width: 400px;
    height: 35px;
    margin-left: 400px;
    background-color: black;
    float: left;
    padding-top: 30px;
}